# DATABASE
DB_USER=grupo16sc
DB_PASSWORD=grup016grup016*
DB_HOST=tecnoweb.org.bo
DB_PORT=5432
DB_NAME=db_grupo16sc

# SEND EMAIL grupo16sc@localhost
SMTP_HOST=mail.tecnoweb.org.bo
SMTP_PORT=25
SMTP_PROTOCOL=smtp
SMTP_USER=grupo16sc@tecnoweb.org.bo
SMTP_MAIL=grupo16sc@tecnoweb.org.bo
SMTP_PASSWORD=grup016grup016*



# POP - MailVerificationThread\
POP_HOST=mail.tecnoweb.org.bo
POP_PORT=110
POP_USER=grupo16sc
POP_PASSWORD=grup016grup016*

